<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Aplicación Maestria Alexis Notas con Mongo y Nodejs</h5>
        <p class="card-text">Aplicación de notas</p>
        <p>Sistema web para la creacion edicion y eliminacion de notas</a>
    </div>
</div>